@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
	font-weight: 300;
	font-family: 'Open Sans';
	color: #333;
	text-align: center;
	margin: 0px;
	height: 100%;
	background: rgb(244,244,244);
}
.modal {
	position: absolute;
	z-index: 101;
	padding: 20px 30px;
	width: 40%;
	top: 50px;
	left: 30%;
	background: #FFF;
	border-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
	text-align: center;
	font-size: 14px;
	color: #444;
}
.modal-top {
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	color: #333;
	text-align: left;
}
.modal-description {
	text-align: left;
}
.modal-close {
	position: absolute;
	top: -15px;
	right: -15px;
	cursor: pointer;
}
.modal-error {
	margin-top: 15px;
	font-size: 12px;
	color: red;
}
.modal table {
	margin: 10px auto;
}
.modal td {
	padding-right: 10px;
	text-align: right;
}
.page {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: #000;
	opacity: 0.75;
	display: none;
	z-index: 100;
}
.container {
	padding-top: 150px;
	margin: auto;
}
.title {
	text-align: center;
	width: 100%;
	padding: 10px 0px;
	font-size: 40px;
	letter-spacing: -1px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.24);
	position: fixed;
	z-index: 99;
	background-color: #FFF;
}
.title-links {
	margin-top: 10px;
	font-size: 14px;
}
.title-link {
	margin: 5px;
	display: inline-block;
	cursor: pointer;
}
.title-link:hover {
	text-decoration: underline;
}
.title-buttons {
	position: absolute;
	top: -10px;
	right: 30px;
}
.title-button {
	padding: 5px 10px;
	background: #4286f4;
	color: #FFF;
	font-size: 12px;
	cursor: pointer;
	display: inline-block;
	margin-left: 10px;
}
.tweet {
	display: inline-block;
	margin: 20px;
	vertical-align: middle;
}
.footer {
	border-top: 1px solid #EFEFEF;
	margin-top: 25px;
	font-size: 12px;
	padding: 20px;
}